/* HEADER */

    /* Landing page body */

.landingBody{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin-bottom: 10%;
    align-items: center;
}

.lightWeight{
    font-weight: lighter;
}

.frontText{
    text-align: center;
    width: 50%;
}

