 
    /* MEDIA QUERIES */
    
@media screen and (max-width: 768px){
    
    /* HEADER */

        /* Landing page body */

    .landingBody{
        @include flex-dir-justify(column,space-evenly);
        height: auto;
        margin-bottom: 10%;
        align-items: center;

        aside{
            .carousel{
                max-width: 70vw;
            }
        }
    }

    .frontText{

        text-align: center;
        width: 100%;
        /* top | right | bottom | left */
        background-color: white;
    }

    /* FOOTER */

    .footerImages{
        width: 120px;

        img{
            @include size(40px,40px);
        }
        
    }
}

@media screen and (max-width: 576px){
    
    /* HEADER */

        /* CAROUSEL */
    .landingBody aside .carousel{
        max-width: none;
    }    

        /* FOOTER */

    .footerImages{
        width: 90px;

        img{
            @include size(30px,30px);  
        }
        
    }

    /* TRABAJOS */

    
    #trabajoBody{
        margin: 0 0 10% 0;
    }

    #equipoBody{
        margin: 0 0 10% 0;
    }

    .galleryGrid{
        grid-template-columns: repeat(10, 10vw);
        grid-template-rows: repeat(95, 5vw);
        gap: 0;
    }

    // Bucle para definir los items del grid de trabajo
    $start: 1;
    $end: 12;
    @for $i from 1 through 8{
        .galleryItem-#{$i}{
            @include grid-columns(1,11);

            @include grid-rows($start,$end);
        }
        $start: $start + 12;
        $end: $end + 12;

    }
    

    /* EQUIPO */

    .equipoGrid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 50vh);
    }


}