
    /* SOBRE NOSOTROS */

        /* todo hecho con bootstrap + utilities */

    /* TRBAJO */

.galleryGrid{
    display: grid;
    grid-template-columns: repeat(9, 8vw);
    grid-template-rows: repeat(23, 5vw);
    gap: 1vw;

    div{
        &:hover{
            opacity: 1;
        }
    }

}

        /* GRILLA DE GALERIA DE TRABAJOS */


.galleryItem-1{
    @include grid-columns(1,5);
    @include grid-rows(1,6);
    @include background-image-size-position("../images/3-TRABAJOS/muck-rack.jpg", cover, center);
}

.galleryItem-2{
    @include grid-columns(5,10);
    @include grid-rows(1,6);
    @include background-image-size-position("../images/3-TRABAJOS/iteratively.jpg", cover, center);
}

.galleryItem-3{
    @include grid-columns(1,6);
    @include grid-rows(7,12);
    @include background-image-size-position("../images/3-TRABAJOS/podia.jpg", cover, center);
}

.galleryItem-4{
    @include grid-columns(6,10);
    @include grid-rows(7,12);
    @include background-image-size-position("../images/3-TRABAJOS/hq-trivia.jpg", cover, center);
}

.galleryItem-5{
    @include grid-columns(1,5);
    @include grid-rows(13,18);
    @include background-image-size-position("../images/3-TRABAJOS/cameo.jpg", cover, center);
}

.galleryItem-6{
    @include grid-columns(5,10);
    @include grid-rows(13,18);
    @include background-image-size-position("../images/3-TRABAJOS/red-bull-vars.jpg", cover, center);
}

.galleryItem-7{
    @include grid-columns(1,6);
    @include grid-rows(19,24);
    @include background-image-size-position("../images/3-TRABAJOS/welcome-kit.jpg", cover, center);
}

.galleryItem-8{
    @include grid-columns(6,10);
    @include grid-rows(19,24);
    @include background-image-size-position("../images/3-TRABAJOS/amazon.jpg", cover, center);
}

.hoverControl{
    opacity: 0;
    transition: opacity .5s;
}

